body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

.display-3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}  

.lead {
    font-family: 'Ubuntu Mono', monospace;
}
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .hour {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
  }

  .description {
    white-space: pre-wrap;
    border: solid black 1px;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: rgb(250, 208, 184);
    color: white;
  }
  
  .present {
    background-color: rgb(247, 173, 130);
    color: white;
  }
  
  .future {
    background-color: rgb(239, 116, 45);
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(236, 9, 77);
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  